// Home Content
@hover-color: #454A59;
.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      
      margin: 10px 1%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }
.border(@width; @style; @color){


  .walk {
    border: @width @style @color;
    margin-top: 60px;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 400px;
      .border(1px solid black);

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }
    }
        
      .btn:hover{
        color: @hover-color;
        background-color: white;
      }
    
    }

    .walk-img {
      .border(1px solid black);
      margin-left: 0%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
    .btn{
     font-size:20px;
      border-radius: 5px;
      background-color: black;
      color: white;
      padding: 10px;
      text-align: center;
      float: left;
      
      
      
    }
  }
  @media only screen and (max-width: 500px){
   
    .sky{
      display: none;
    }
    .launch{
      display: none;
    }
    .blast{
     
      width: 450px;
      padding-left: 10%;
      }
    
    
      .walk{
    flex-direction: column-reverse;
      }
      .walk-img{
        width: 500px;
        padding-right: 25%;
        
        
      }
    .walk-text{
      
      padding: 0px;
    }
      
    
    .btn{
     width: 400px;
      
    }
    }
    
    
  }
// home