.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  margin: 10px 1%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
@media only screen and (max-width: 500px) {
  .home .sky {
    display: none;
  }
  .home .launch {
    display: none;
  }
  .home .blast {
    width: 450px;
    padding-left: 10%;
  }
  .home .walk {
    flex-direction: column-reverse;
  }
  .home .walk-img {
    width: 500px;
    padding-right: 25%;
  }
  .home .walk-text {
    padding: 0px;
  }
  .home .btn {
    width: 400px;
  }
}
