.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  margin: 10px 1%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 400px;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn:hover {
  color: black;
  background-color: white;
}
.home .walk .walk-img {
  margin-left: 0%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .walk .btn {
  font-size: 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  float: left;
  width: 200px;
}
@media only screen and (max-width: 500px) {
  .home .sky {
    display: none;
  }
  .home .launch {
    display: none;
  }
  .home .blast {
    width: 450px;
    padding-left: 10%;
  }
  .home .walk {
    flex-direction: column-reverse;
  }
  .home .walk-img {
    width: 500px;
    padding-right: 25%;
  }
  .home .walk-text {
    padding: 0px;
  }
}
.home .btn {
  width: 400px;
}
