// Home Content

.home {
  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
     
      margin:1.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid black;
    padding-top: 20px;
    display: flex;
    justify-content: center;
   

    .walk-text {
      width: 50%;
     

      h3 {
        margin-bottom: 10px;
      }

      p {
        
        margin-bottom: 26px;
      }

        .btn {
          .button(#22283A, 20px 10px, 1.6rem, white, 5px);
        margin: auto;
        margin-right: 70%;
        font-size: 170%;
        margin-bottom: 20px;
        }
      .btn:hover{
        color: black;
        background-color: white;
      }
        
    }

    .walk-img {
      margin-left: 2%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
  
}
  @media (max-width: 500px){
    *{
      display: block;
      margin: 0;
      width: 500px;
      height: auto;
    }
    .sky{
      display: none;
    }
    .launch{
      display: none;
    }
    .blast{
      width: 500px;
      }
    
    
      .walk{
    flex-direction: column-reverse;
      }
      .walk-img{
        display: block;
        margin: auto;
        width: 480px;
        
      }
    .walk-text{
      padding: 0px;
    }
      
    
    .btn{
      display: block;
      margin-right: 200px;
      width: 200%;
     
      
    }
    footer{
     text-align: center;
    }
  }
 
}
